<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>
New Posts
    <div class="white-bg">
        <% for (let i = 0; i < 글목록.length; i++){ %>
        <div class="list-box">
          <h4>
            <a href="/detail/<%= 글목록[i]._id %>">
              <%= 글목록[i].title %>
            <a href="/edit/<%= 글목록[i]._id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✏️edit</a>
            </a>
            <span class="delete">🗑️</span>
          </h4>
          <p> 글내용 : <%= 글목록[i].content %></p>
        </div>
        <% } %>

        <script>
          // console.log('<%= 글목록[0]._id %>')
          document.querySelectorAll('.delete')[0]
          .addEventListener('click', function(){
            fetch('/delete?docid=<%= 글목록[0]._id %>',{
              method : 'DELETE'
            })
          })
        </script> 


</body>
</html>